* {
    margin: 0px auto;
}

.cotainer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*background-color: #f1f1f1;*/
  background: azure;
  height: 5000px;
  padding-top: 0px;
}


h1 {
    font-size: 36px;
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    text-align: center;
    //*background-color: rgb(116, 240, 240);*/
  }

h2 {
    text-align: center;
    font-size: 36px;
    margin: 0 0 16px 0;
    border-bottom: 3px solid green;
}

.colorTituloLogo {
    color: blue;
    padding: 10px 0;
    font-size: 24px;  
}

#idtabla{
    padding: 0 5%
  }

td,th{
  padding:  1%;
  }

.pagpie {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    padding: 20px;
    height: 20px;
    margin-top: 0;
  }

.item-fomulario {
    padding: 10px 20px;
  }

  .item-fomulario label {
    margin-right: 10px;
    min-width: 135px;
  }

  .botonera {
    padding: 10px 20px;
  }
  
  .mensaje-error {
    color: red;
  }